<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>42x20_BlackRatSheet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42x20_BlackRatSheet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{42,0},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42x20_BlackRatSheet_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{84,0},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42x20_BlackRatSheet_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{0,20},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42x20_BlackRatSheet_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{42,20},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42x20_BlackRatSheet_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{84,20},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42x20_BlackRatSheet_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{0,40},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42x20_BlackRatSheet_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{42,40},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42x20_BlackRatSheet_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{42,20}</string>
                <key>textureRect</key>
                <string>{{84,40},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{126,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3f02b71a226ed27e4174e8403289ebc:394edfa205aded7b92da0a771a8d1d85:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
