<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,40}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>spider_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,40}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>spider_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,41}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>spider_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,41}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>spider_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,40}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>spider_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,40}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd384b32963f8ec909d5d77f472b7213$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
