<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bloodfx_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,10}</string>
                <key>spriteSourceSize</key>
                <string>{21,12}</string>
                <key>textureRect</key>
                <string>{{1,1},{19,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodfx_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{22,1},{61,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodfx_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,73}</string>
                <key>spriteSourceSize</key>
                <string>{88,75}</string>
                <key>textureRect</key>
                <string>{{1,42},{86,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodfx_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,80}</string>
                <key>textureRect</key>
                <string>{{1,275},{89,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodfx_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,79}</string>
                <key>spriteSourceSize</key>
                <string>{94,81}</string>
                <key>textureRect</key>
                <string>{{1,355},{92,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodfx_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,79}</string>
                <key>spriteSourceSize</key>
                <string>{94,81}</string>
                <key>textureRect</key>
                <string>{{1,355},{92,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodfx_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,77}</string>
                <key>spriteSourceSize</key>
                <string>{93,79}</string>
                <key>textureRect</key>
                <string>{{1,117},{91,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodfx_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,77}</string>
                <key>spriteSourceSize</key>
                <string>{93,79}</string>
                <key>textureRect</key>
                <string>{{1,117},{91,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodfx_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,77}</string>
                <key>spriteSourceSize</key>
                <string>{93,79}</string>
                <key>textureRect</key>
                <string>{{1,196},{91,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bloodfx.png</string>
            <key>size</key>
            <string>{94,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09deae1272c806ed23719b9e1dfe163c:45f2cf0f902df050ee7a956ed7ceb0da:94640cb32f614720d72396617eafe8db$</string>
            <key>textureFileName</key>
            <string>bloodfx.png</string>
        </dict>
    </dict>
</plist>
