<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbeetle_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>redbeetle_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,33}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>redbeetle_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,33}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>redbeetle_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,32}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dbc28d2cc24d96aa3eea8924efebb75$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
