<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbeetle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,74},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>redbeetle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,64}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>redbeetle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{74,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,70}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>redbeetle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,48},{73,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,72}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>redbeetle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,71}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>redbeetle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{76,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,44}}</string>
                <key>sourceSize</key>
                <string>{80,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50bef98acc0195dd097e03130a65b227$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
