<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dod_skeleton_sheet_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dod_skeleton_sheet_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dod_skeleton_sheet_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dod_skeleton_sheet_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{192,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dod_skeleton_sheet_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{288,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{384,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1075c0a11548772c8ca9967a4932576f:e50aaacee49e0ada429fb227357c2adf:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
