<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbeetle_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,38},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,33}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>redbeetle_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,34}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>redbeetle_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,35}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>redbeetle_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,35}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>redbeetle_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,34}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>redbeetle_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,47},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,33}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:378395ca5bc4f8fdde2f1fdaa012ed16$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
