<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbeetle_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,33}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>redbeetle_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,34}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>redbeetle_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,34}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>redbeetle_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,45}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>redbeetle_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,46}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>redbeetle_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,49},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,44}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3180074e545457df85f570aebd9c461$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
