<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{80,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d99ed064b4a64cd05bb1cd72edc9700b:0551338519dcc1e656ee4505aeb6c3e0:6a742f82625aa3c6c9ec5692622f5fbd$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
