<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,39}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>spider_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,39}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>spider_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,39}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>spider_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,39}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>spider_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>spider_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,43},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,41}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2adb6b9991fcbe3bbb5886a35fe8e86e$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
