<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,45}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>spider_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,48},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,43}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>spider_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,44}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>spider_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,41}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53d3c7ccb11307f7e5f9fb8332be0832$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
