<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,41}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>spider_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{57,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,43}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>spider_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,41}}</string>
                <key>sourceSize</key>
                <string>{62,45}</string>
            </dict>
            <key>spider_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,47},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,40}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b18e27a4903f2df21e9fffba1839bb3e$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
