<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>spider_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,49}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>spider_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,53},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,50}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>spider_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,42}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2011a504d618c38dbc960276caaf31c9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
